*.Cache
*.Settings
*.bat
*.class
*.jar
*.log
*.shf*
*.suo
*.userprefs
.classpath
.pmd
.project
.settings/
CBORTest/OpenCover/
CBORTest/ProfilingSessions/
CBORTest/bin/
CBORTest/obj/
DecTest.js
Help/
ProfilingSessions/
TestResults/
bin/
js/*.ht*
js/DecTest.*
obj/
